modules = ["web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
publicDir = "./"
run = ["sh", "-c", ""]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46807984
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
