
modules = ["web", "python-base-3.13"]
run = "python app.py"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["python", "app.py"]

[workflows]
runButton = "Run Flask Server"

[[workflows.workflow]]
name = "Run"
author = 46807984
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000"

[[workflows.workflow]]
name = "Run Flask Server"
author = 46807984
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 8080
externalPort = 80
