modules = ["web", "python-base-3.13"]
run = "python -m http.server 5000"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
publicDir = "./"
run = ["sh", "-c", "PORT=80 python app.py"]

[workflows]
runButton = "Run Flask Server"

[[workflows.workflow]]
name = "Run"
author = 46807984
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000"

[[workflows.workflow]]
name = "Run Flask Server"
author = 46807984
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
